{% extends "base.html" %}
{% load static %}

{% block content %}
<div class='content-block'>
    <!-- Table to view bookings -->
    <h1 class="text-center">
        {% if request.user.is_staff %}
            Bookings 
                
        {% else %}
            My Bookings
        {% endif %}
    </h1>
    <p>Logged in as {{user.first_name}} {{user.last_name}}</p>
    <!-- Staff only options -->
    {% if request.user.is_staff %}
        <!-- Search bookings by booking reference -->
        <div class="row">
            <div class="col-md-2 col-sm-0"></div>
            <div class="col-md-3 col-sm-12 staff">
                <form method='GET' class="mb-3">
                    <input type='text' name='booking_reference' value='{{ request.GET.booking_reference }}' autocomplete="off" aria-label="Search Booking by reference"
                    placeholder="Search Booking Reference">
                    <button class="btn p-0 search-btn" type='submit' value="Search Booking by reference" aria-label="Click to search by booking ref">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </div>
            <!-- Search bookings by date -->
            <div class="col-md-3 col-sm-12 staff">
                <form method='GET' class="mb-3">
                    <input type='date' name='date' value='{{ request.GET.date }}' autocomplete="off" aria-label="Search Bookings by date">
                    <button class="btn p-0 search-btn" type='submit' value="Search Booking by date" aria-label="Click to search by date">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </div>
            <!-- Table setup page -->        
            <div class="col-md-3 col-sm-12 staff">
                <a href="{% url 'setup_page' 1 %}" class="btn m-2">Table Setup</a>
            </div>
        </div>
    {% endif %}
    <div>
        {% if object_list|length > 0 %}
            <div class="small-screen">
                {% for booking in object_list %}
                <div class="small_screen_block">
                    <div class="book"><strong>Booking Reference: </strong>{{ booking.pk }}</div>
                    {% if request.user.is_staff %}
                    <div class="book"><strong>Customer:</strong> {{ booking.customer.first_name }} {{ booking.customer.last_name }}</div>
                    <div class="book"><strong>Tables Needed:</strong> Small:{{ booking.tables_needed_small }} -- Medium:{{ booking.tables_needed_medium }} -- Large:{{ booking.tables_needed_large }}</div>
                    {% else %}
                    <div class="book"><strong>Booking Name :     </strong>{{ booking.booking_name }}</div>
                    {% endif %}
                    <div class="book"><strong>Date:              </strong>{{ booking.booking_date }}</div>
                    <div class="book"><strong>Time Slot:         </strong>{{ booking.get_booking_time_display }}</div>
                    <div class="book"><strong>Number of Guests:  </strong>{{ booking.guest_count }}</div>
                    <a href="{% url 'edit_booking' booking.id %}" class="btn m-2 inline">Edit</a>
                    <a href="{% url 'delete_booking' booking.id %}" class="btn m-2 inline">Cancel</a>
                    

                </div>
                {% endfor %}
            </div>
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>Booking Reference</th>
                        {% if request.user.is_staff %}
                            <th>Customer</th>
                            <th>Tables</th>
                        {% else %}
                            <th>Booking Name</th>
                        {% endif %}
                        <th>Date</th>
                        <th>Time Slot</th>
                        <th class="d-sm-none d-md-table-cell">No. Guests</th>
                        <th class="d-sm-none d-md-table-cell"><span class="sr-only">Edit Button Column</span></th>
                        <th class="d-sm-none d-md-table-cell"><span class="sr-only">Delete Button Column</span></th>
                    </tr>
                </thead>
                {% for booking in object_list %}
                <tbody>
                    <tr>
                        <td>
                            {{ booking.pk }}
                        </td>
                        {% if request.user.is_staff %}
                            <td>
                                {{ booking.customer.first_name }} {{ booking.customer.last_name }}
                            </td>
                            <td class="tables">
                                <div class="tables_info">Small: {{ booking.tables_needed_small }}</div>
                                <div class="tables_info">Medium: {{ booking.tables_needed_medium }}</div>
                                <div class="tables_info">Large: {{ booking.tables_needed_large }}</div>  
                            </td>
                        {% else %}
                            <td>
                                {{ booking.booking_name }}
                            </td>
                        {% endif %}
                        <td>
                            {{ booking.booking_date }}
                        </td>
                        <td>
                            {{ booking.get_booking_time_display }}
                        </td>
                        <td>
                            {{ booking.guest_count }}
                        </td>
                        <td>
                            <a href="{% url 'edit_booking' booking.id %}" class="btn m-2">Edit</a>
                        </td>
                        <td>
                            <a href="{% url 'delete_booking' booking.id %}" class="btn m-2">Cancel</a>
                        </td>
                    </tr>
                </tbody>
                {% endfor %}        
            </table>
        {% else %}
            <p>There are no bookings here</p>
            {% if request.user.is_staff %}
                <a href="{% url 'booking_home' %}" class="btn m-2">Reset Search</a>
            {% endif %}
        {% endif %}

    </div>
    <!-- Make a reservation button -->
    <div>
        <a href="{% url 'create_booking' %}" class="btn m-2">Make a Reservation</a>
    </div>
</div>

{%endblock%}
