/* General Styles */

body {
    font-family: Nunito, sans-serif;
    font-weight: 300;
    background-color: #151616;
    color: #fea601;
    max-width: 1200px;
    padding: 8px;
    width: 100%;
    margin: auto;
}

.align-center {
    text-align: center;
}

.shadow {
    border-radius: 8px;
    box-shadow: 4px 4px;
    margin-top: 20px;
    background-color: #454545
}

.title-text {
    color: #fea601;
    background-color: #454545;
    border-radius: 8px;
    text-transform: capitalize;
}

/* Header */
header {
    display: flex;
    background-color: #454545;
    width: 100%;
    margin: auto;
    max-height: 160px;
}

header ul {
    padding: 0;
}

#logo {
    margin-left: 8px;
    max-height: 160px;
}

/* navigation links */
#menu { 
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

#menu li {
    display: block;
    height: 100%;
    margin: 20px 24px;
    letter-spacing: 2px;
    line-height: 16px;
    font-size: 22px;
    list-style-type: none;
}

#menu a {
    text-decoration: none;
    color: #fea601;
    font-weight: bold;
}

#menu a:hover {
    border-bottom: 2px solid #fea601;
    color: #f8b219;
}

.active {
    border-bottom: 2px solid #fea601;
}

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    background-color: #151616;
    width: 100%;
    margin: auto;
    padding: 0 0 16px;
}

footer h3 {
    margin-top: 6%;
    margin-bottom: 8px;
}

footer ul {
    padding: 8px;
}

.contact-info{
    color: #fea601;
    width: 100%;
}

.contact-info p {
    margin: 2px;
}

.social-media {
    color: #fea601;
    width: 100%;
    justify-content: center;
}

.social-media li {
    padding: 16px;
    display: inline;
}

.social-media i {
    font-size: 220%;
    text-decoration: none;
    color: #fea601;
}

.social-media i:hover {
    color: #f8b219; 
}

/* Home page */
.content-block {
    width: 100%;
    padding: 8px;
    margin: auto;
    padding-bottom: 16px;
    text-align: center;
}

#hero_outer{
    position: relative;
}

#hero-img {
    width: 92%;
    margin: 4%;
    text-align: center;
    position: relative;
}

#click-me-text {
    background-color: #3a4a52ad; 
    width: 240px;
    height: 140px;
    bottom: 16%;
    right: 10%;
    position: absolute;    
    padding: 16px;
    border-radius: 8px;
    text-align: center;
}

#click-me-text a {
    color: #fea601;    
    font-size: 180%;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
}

#map {
    width: 100%;
}

#location {
    text-align: center;
    margin-top: 120px;
}

ul{
    padding: 0;
}

ul li{
    list-style-type: none;
}



/* Website responsiveness */
@media only screen and (min-width: 650px) {
    #menu li {
        display: inline-block;
        margin: 8px;
    }

    #menu ul {
        margin-right: 16px;
    }

    footer {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
}

.btn {
    background-color: antiquewhite;
}