/* General Styles */

body {
    font-family: Nunito, sans-serif;
    font-weight: 300;
    background-color: #151616;
    color: #fea601;
    max-width: 1200px;
    padding: 8px;
    width: 100%;
    margin: auto;
}

.align-center {
    text-align: center;
}

.shadow {
    border-radius: 8px;
    box-shadow: 4px 4px;
    margin-top: 20px;
    background-color: #454545
}

.title-text {
    color: #fea601;
    background-color: #454545;
    border-radius: 8px;
    text-transform: capitalize;
}

#padd {
    padding: 16px;
}

/* Header */
header {
    display: flex;
    background-color: #454545;
    width: 100%;
    margin: auto;
    max-height: 150px;
}

header ul {
    padding: 0;
}

#logo {
    margin-left: 8px;
    max-height: 150px;
}

/* navigation links */
#menu { 
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

#menu li {
    margin: 8px;
    letter-spacing: 2px;
    line-height: 16px;
    font-size: 18px;
    list-style-type: none;
}

#menu a {
    text-decoration: none;
    color: #fea601;
    font-weight: bold;
}

#menu a:hover {
    border-bottom: 2px solid #fea601;
    color: #f3d23d;
}

.active {
    border-bottom: 2px solid #fea601;
}

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    background-color: #151616;
    width: 100%;
    margin: auto;
    padding: 0 0 16px;
}

footer h3 {
    margin-top: 6%;
    margin-bottom: 8px;
}

footer ul {
    padding: 8px;
}

.contact-info{
    color: #fea601;
    width: 100%;
}

.contact-info p {
    margin: 2px;
}

.social-media {
    color: #fea601;
    width: 100%;
    justify-content: center;
}

.social-media li {
    padding: 16px;
    display: inline;
}

.social-media i {
    font-size: 220%;
    text-decoration: none;
    color: #fea601;
}

.social-media i:hover {
    color: #f3d23d; 
}

/* Toast */
.toast {
    background-color: antiquewhite;
    margin: 4px;
    color:#c47f00;
    font-size: larger;
    max-width: fit-content;
}

/* Home page */
.content-block {
    width: 100%;
    padding: 8px;
    margin: auto;
    padding-bottom: 16px;
    text-align: center;
}

#hero_outer{
    position: relative;
}

#hero-img {
    width: 88%;
    margin: 6%;
    text-align: center;
    position: relative;

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes hero-zoom { 
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

#click-me-text {
    background-color: #3a4a52ad; 
    width: 240px;
    height: 140px;
    bottom: 16%;
    right: 10%;
    position: absolute;    
    padding: 16px;
    border-radius: 8px;
    text-align: center;
}

#click-me-text a {
    color: #fea601;    
    font-size: 180%;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
}

#click-me-text a:hover {
    border-bottom: 2px solid #f3d23d;
    color: #f3d23d;
}

#map {
    width: 100%;
}

ul{
    padding: 0;
}

ul li{
    list-style-type: none;
}


/* Booking home page */
table {
    font-size: small;        
}

.small_screen {
    display: block;
}

.small_screen_block {
    border: 4px #000000 solid;
    background-color:#f0ac47;
    color: #000000;
}

book {
    text-align: left;
    display: block;
    font-size: large;
}

.btn {
    background-color: antiquewhite;
}

table {
    display: none;
    border: 4px #000000 solid;
    background-color:#f0ac47;
    max-width: 100%;
    overflow-y: auto;
}

tbody {
    border: 4px #000000 solid;
}

td {
    border-bottom: 2px #f0d147 solid;
}

strong {
    font-weight: bold;
}

.staff {
    padding: 8px;
}

.account {
    background-color: antiquewhite;
    border: 4px #000000 solid;
    border-radius: 4px;
    color:#000000;
    padding: 6px;
}


/* Website responsiveness */
@media only screen and (min-width: 768px) {
    footer {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    table {
        font-size: large;
    }
}

@media only screen and (min-width: 600px) {

    table {
        display: table;
    }

    .small-screen {
        display: none;
    }
}