{% load static %}
<header class="shadow">
    <a href="index.html">
        <img src="{% static 'images/the_fire_pit_logo.png' %}" alt="The Fire Pit Logo" id="logo">
    </a>
    <nav id="menu">
        <ul>
            <li>
                <a href="index.html" class="active">t</a>
            </li>
            <li>
                <a href="services.html">e</a>
            </li>
            <li>
                <a href="gallery.html">m</a>
            </li>
            <li>
                <a href="contact.html">p</a>
            </li>
        </ul>
    </nav>
</header>