{% load static %}
<header class="shadow">
    <a href="{% url 'home' %}">
        <img src="{% static 'images/the_fire_pit_logo.png' %}" alt="The Fire Pit Logo" id="logo">
    </a>
    <nav id="menu">
        <ul>
            <li>
                <a href="{% url 'home' %}">Home</a>
            </li>
            {% if user.is_authenticated %}
            <li>
                <a href="{% url 'account_logout' %}">Logout</a>
            </li>
            <li>
                <a href="{% url 'booking_home' %}">{% if request.user.is_staff %}Bookings{% else %}My Bookings{% endif %}</a>
            </li>
            <li>
                <a href="{% url 'my_account' %}">My Account</a>
            </li>
            {% else %}
            <li>
                <a href="{% url 'account_login' %}">Login</a>
            </li>
            <li>
                <a href="{% url 'account_signup' %}">Register</a>
            </li>
            <li>
                <a href="{% url 'account_login' %}">My Bookings</a>
            </li>
            {% endif %}

        </ul>
    </nav>
</header>